* {
  font-size: 14px;
}
body {
  background-image: url("./img/bubble-handphone.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
.c-btn {
  background-color: #5356fb !important;
  color: white !important;
  border-radius: 15px !important;
}
.card {
  background-color: #faf2ff81 !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: 1px solid transparent !important;
  border-radius: 10px !important;
}

/* responsive */
@media (min-width: 768px) {
  body {
    background-image: url("./img/bubble-tablet.png");
  }
}

@media (min-width: 992px) {
  body {
    background-image: url("./img/bubble-laptop.png");
  }
}
/* responsive */
